* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  transition: 0.5s;
}

:root {
  --color1: violet;
  --color2: purple;
  --color3: rgb(99, 0, 101);
  --color4: rgb(82, 1, 97);
}

body {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color3);
}

/*header section*/

header {

  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.7;
  background-color: var(--color4);
}

header h1 {

  display: flex;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 2.2rem;
  background-color: rgb(62, 25, 62);
  padding: 20px;

}

/*navbar*/

.navbar a {
  display: inline-flex;
  color: white;
  list-style-type: none;
  margin: -100px;
  margin-top: 24px;
  margin-left: 200px;
  font-size: 1.4rem;
  cursor: pointer;

}

.navbar a:hover {
  color: rgba(239, 32, 222, 0.746);
}


@media screen and (max-width: 720px) {
  header {
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    width: 100%;
  }

  header h1 {
    padding: 0 5px;
    font-size: 0.9rem;
  }

  .navbar a {
    display: none;
    margin: 0 5px;
    font-size: 0.8rem;
  }
}

/* hero banner */

.hero-banner {
  display: flex;
  flex-direction: row-reverse;
  background-size: cover;
  background-image: url('/images/jr-korpa-9XngoIpxcEo-unsplash.jpg');
  width: 100%;
  font-size: 2rem;
  padding: 110px;
  height: 100px;
  color: var(--color2);
  
}


.profile_picture {

  display: flex;
  position: absolute;
  width: 175px;
  height: 175px;
  border: 5px solid rgba(255, 255, 255, .5);
  margin-right: 60%;
  margin-top: -6%;
  border-radius: 50%;

}

@media screen and (max-width: 720px) {
  .hero-banner {
    width: 100%;
    padding: 50px;
    font-size: 1rem;
  }

  .profile_picture {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: -30px;
  }
}


/* Main content */

.pageWrapper {
  width: 90vw;
  margin: 0 auto;

}


@media screen and (max-width: 940px) {
  .pageWrapper {
    width: 100%;
    padding: 5px;
  }
}



.aboutMe {
  display: flex;
  margin-left: 190px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: var(--color4);
  font-size: 1.2rem;
  text-align: justify;
  margin-right: auto;
  color: white;
  padding: 60px;
}


@media screen and (max-width: 720px) {
  .aboutMe {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    flex-direction: column;
  }
}

h2 {
  position: absolute;
  font-size: 2.2rem;
  color: white;
}

@media screen and (max-width: 720px) {
  h2 {
    display: flex;
    font-size: 1.2rem;
    margin-top: -18px;
  }
}



.gridContainer {
  display: grid;
  padding-left: 180px;
  padding-bottom: 120px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 500px 200px 200px;
  grid-template-areas:
    'project1 project1'
    'project2 project3'
    'project4 project5'
  ;

}


.project1 {
  grid-area: project1;
  cursor: pointer;
}

.project2 {
  grid-area: project2;
  cursor: pointer;
}

.project3 {
  grid-area: project3;
  cursor: pointer;
}

.project4 {
  grid-area: project4;
}

.project5 {
  grid-area: project5;
}


@media screen and (max-width: 720px) {
  .gridContainer {
    display: grid;
    flex: 5;
    padding: 15px 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas:
      'project1'
      'project2'
      'project3'
      'project4'
      'project5'
    ;
  }
}

.project {
  position: relative;
  border: 5px solid rgba(255, 255, 255, .5);
  background-color: palevioletred;
}

.projectName {
  background-color: var(--color3);
  color: white;
  opacity: 0.7;
  display: inline-block;
  position: absolute;
  padding: 5px 10px;
  font-size: 1.2rem;
  position: absolute;
  border: 5px solid var(--color3);
  left: 0;
  bottom: 20px;

}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  opacity: 0.4;
  transition: opacity 0.7s ease-out;
}

.project img:hover {
  opacity: 1;
}

/*Contact section*/

.SectionContact {
  display: flex;
  padding-left: 200px;
  flex-wrap: wrap;
  margin-bottom: 70px;
  width: 100%;
  justify-content: space-around;
  text-decoration: none;

}

.contact {
  list-style: none;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  border-bottom: 2px solid var(--color1);
  padding-top: 5px;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact:hover {
  color: rgba(239, 32, 222, 0.746);
}

.contact a:hover {
  color: rgba(239, 32, 222, 0.746);
}

@media screen and (max-width: 720px) {
  .contact {
    display: column;
    justify-content: space-around;
  }
}

/* Footer */

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color4);
  color: white;
}