* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  transition: 0.5s;
}

body {
  width: 100%;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(212, 177, 205);
}


header {

  display: flex;
  width: 100%;
  font-size: 200px;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.7;
  background-color: purple;
}

header nav ul {
  display: flex;
  padding: 10px;
  margin-left: 300px;
  float: right;
  text-decoration: underline;
  cursor: pointer;

}


header h1 {
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  font-size: xx-large;
  color: black;


}

header ul {
  list-style-type: none;
  float: right;
}

header ul li {
  display: inline-block;
  margin-left: 25px;
  padding: 25px;
  list-style-type: none;
  font-size: x-large;
  font-display: inherit;
}

.hero-banner {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-image: url(/images/jr-korpa-9XngoIpxcEo-unsplash.jpg);
  padding: 100px;
  height: 100px;
  background-size: cover;
  color: blueviolet;
  opacity: 0.7;
}

.profile_picture {

  display: flex;
  width: 200px;
  height: 200px;
  border: 5px solid rgba(255, 255, 255, .5);
  margin-right: 50%;
  margin-bottom: 80%;
  border-radius: 50%;

}

nav h2 {
  display: flex;
  float: right;
  font-size: 300%;

}

/*main section*/

.pageWrapper {
  width: 90vw;
  margin: 0 auto;
}


h3 {
  display: flex;
  margin-top: 50px;
  margin-left: 75px;
  font-style: underline;
  font-size: xx-large;
  position: absolute;
  color: blueviolet;
  text-decoration: underline;

}

h4 {
  display: flex;
  font-size: xx-large;
  margin-top: 250px;
  margin-left: 80px;
  font-style: underline;
  position: absolute;
  color: blueviolet;
  text-decoration: underline;
}

h5 {
  display: flex;
  position: absolute;
  margin-top: 1670px;
  text-decoration: underline;
  color: blueviolet;
  font-size: xx-large;
  margin-left: 50px;
}

.myStory {
  display: flex;
  text-align: right;
  margin-left: 250px;
  margin-top: 200px;
  font-size: x-large;
  text-align: center;
  margin-right: auto;
  color: #8b008b;
  padding: 50px;
}

.gridContainerWork {
  display: grid;
  flex: 5;
  padding: 5px 15px;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 500px 200px 200px;
  grid-template-areas:
    'project1 project1'
    'project2 project3'
    'project4 project5'
  ;
  grid-gap: 15px;
}

.project1 {
  grid-area: project1;
  border-style: solid;
  border-width: 5px;
  border-color: purple;
  cursor: pointer;
  opacity: 0.7;
}


.project2 {
  grid-area: project2;
  cursor: pointer;
  border-width: 5px;
}

.project3 {
  grid-area: project3;
}

.project4 {
  grid-area: project4;
}

.project5 {
  grid-area: project5;
}

.projectName {
  display: inline-block;
  padding: 10px;
  font-size: 1.2rem;
  position: absolute;
  border: 5px solid;
  left: 0;
  bottom: 20px;
}


.footer {
  display: flex;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: initial;
  font-size: x-large;
  text-decoration: none;
  color: #8b008b;

}


.footer p {
  display: inline;
  float: right;
  justify-content: center;
  padding-top: 400px;
  padding-bottom: 60px;
  margin: 50px;
  text-decoration: underline;

}